<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Cerrar</button>
    </div>
  </ion-header-bar>


  <ion-content>
						    <div class="list card">

						  <div class="item item-avatar">
						    <img src="img/gemionic/icono2.png">
						    <h2>MedicalApp</h2>
						    <p>Sistema desarrollado por:</p>
						  </div>

						  <div class="item item-body">
						    <img class="full-image" src="img/gemionic/logo.png">
						    <p>
						      Pagina Oficial del Producto : <a ng-click="muestraPaginaA('medicalappecuador.com')">http://medicalappecuador.com </a>

						      Pagina Oficial de la Empresa : <a ng-click="muestraPaginaE('marketing360ecuador.com')">http://marketing360ecuador.com </a>
						    </p>
						    <p></p>
						  </div>

						</div>
  </ion-content>
</ion-modal-view>
