<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="Avances Cientificos">
<ion-nav-bar class="bar-calm">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-title>
       <img src="img/gemionic/titulo3.png">
    </ion-nav-title>
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- Media section (Picture, Video, Map, etc) -->
    <div class="news-media">
      <!-- Image 100% width -->
      <img src="img/gemionic/noticia-medical.jpeg" alt="" class="fluid-image"> 

      <!-- Stats (Absolutely positioned right) -->
      <div class="media-social-stats stat-label"> 
        <span class="news-comment-summary">
          <i class="icon ion-heart"></i> 2 
          <i class="icon ion-chatbubble"></i> 3
        </span>
      </div>

    </div><!-- End Media section --> 

    <!-- News Item (With Poster and content text summary) -->
    <div class="news-item">
      <!-- Poster Thumb -->
      <div class="news-thumb">
        <img src="img/gemionic/profile-image.jpg" alt="" class="img">
      </div>
      <!-- End Poster -->

      <!-- Content -->
      <div class="news-content">
        <h4>Cuatro innovaciones en la lucha contra el cáncer</h4>


  <p align="justify">La caracterización del cáncer y la búsqueda afanosa de tratamientos para combatirlo sin causar nuevos daños al sistema inmunológico son algunos de los temas que más preocupan hoy a la ciencia médica, y aunque es mucho lo que falta por recorrer para alcanzar un consenso científico entorno a la materia, lo cierto es que día a día se busca innovar con tratamientos o dispositivos que permitan al paciente tener una mejor calidad de vida.

Así, en medio del foro de Biotecnología en Hematología y Oncología INNOVAMGEN, realizado recientemente en Cartagena, se presentaron líneas de tratamientos en medio de la lucha contra el cáncer, una preocupación mundial si se tiene en cuenta que según la Organización Mundial de la Salud (OMS), 8,2 millones de personas murieron en 2012 debido al cáncer en el mundo y que América Latina y el Caribe aportaron el 47% de esos casos, que equivale a 1,3 millones de muertes.

Mieloma Multiple

Junto con las leucemias y los linfomas, el mieloma múltiple (MM) es uno de los principales tipos de cáncer en la sangre. La incidencia mundial de esta enfermedad varia de 1 a 5 personas por cada 100.000 individuos cada año y la tasa de mortalidad es de 33 por cada 100.000 individuos, siendo esta un morbimortalidad alta.

Esta enfermedad ha sido una de las preocupaciones de la comunidad científica puesto que hasta el momento se considera un cáncer incurable, los pacientes que responden al tratamiento, que incluye quimioterapia y en algunos casos trasplante de células madre, tienen recaídas fuertes en medio de la enfermedad, requiriendo paulatinamente diferentes líneas de tratamiento que a nivel mundial y hasta el año 2006 no existían.

La innovación en esta área corre así por cuenta de un medicamento que fue aprobado por las FDA (entidad encargada de la regulación de los medicamentos de uso humano y veterinario, vacunas y otros productos biológicos) en 2012 y que se convierte así en una novedosa opción terapéutica para los pacientes con mieloma múltiple.

Explica en términos más sencillo es el doctor Ruben Niesvizky oncólogo, hematólogo y director del Multiple Lyeloma Center del Hospital Presbiteriano de Nueva York, que las células cancerosas en esta enfermedad no tienen la capacidad de recuperarse fácilmente ante el exceso de proteínas “basura” que ya no necesita, por lo que la célula termina “suicidándose”.

“Con la llegada del siglo XXI se reconoció que ciertas vías metabólicas en la células del mieloma eran muy importantes para la supervivencia de estas células malignas. Así se logró determinar que si se podía controlar cómo estas células operan las proteínas podríamos manejar este “metabolismo”.

“Las células del mieloma son una fábrica de producción de proteínas, es así como este medicamento marca las que deben ser desechadas. Así mismo potencia un "cesto de basura" que se llama proteosoma cuya función es capturar esto que hemos marcado y lo destruye. Pero además recicla lo que sí pueda llegar a servirle al cuerpo posteriormente”, añade Niesvizky.

Cáncer de mamá

El cáncer de mamá sigue siendo uno de los más frecuentes en nuestro país. Según estudios científicos, más de 8.600 nuevos casos serán diagnosticados este año y de estos cerca del 30% de los pacientes fallecerán.

Pero, entre muchas otras cosas que pocos conocen sobre el cáncer de mamá, está que entre un 65% a 75% de las mujeres con éste presentan metástasis en el hueso, convirtiéndose en el sitio preferente de expansión tumoral en este tipo de enfermedad.


.</p>
       
        <!-- Stat Section (Absolutely Positioned Right) Version 1-->
        <div class="other-stats">
          <button class="button button-balanced button-borderless button-small"><i class="ion-heart"></i>2</button>
        </div>
        <!-- End Stat Section -->

        <!-- Stat Section (With Date) -->
        <div class="gem-tiny-text news-item-stats">
          <i class="icon ion-clock"></i> Hace un dia
          <span class="news-comment-summary">
        
          </span>
        </div>
        <!-- Stat Section -->

      </div>
      <!-- End Content -->

      <!-- Mock trigger button for action sheet for this post -->
      <div class="news-more-action">
        <i class="icon ion-more"></i>
      </div>
      <!-- End Button -->

    </div>
    <!-- End News Item -->

    <!-- News Item (For Album Art, Artist Name and Player) -->
    <div class="news-media">

      <!-- Album Art -->
     
   
      <!-- End Media Description -->
    </div>
  </ion-content>
</ion-view>
