 <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">GUIA MEDICAL</h1>
    <div class="buttons">
      <button class="button button-calm" ng-click="closeLogin()">Omitir</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <ion-slide-box style="height:100vh;
           width:auto; ">
      <ion-slide style="height: 100vh;
           width: auto;">
      

      <h4 style=" text-align: center;">Para ver Medicos a tu Alrededor Habilita el GPS de tu Telefono</h4>

      </ion-slide >
         <ion-slide style="height: 100vh;
           width: auto;">
          <img class="full-image" preload-image ng-src="img/gemionic/valentina.gif" default-image="img/gemionic/valentina.gif" fallback-image="img/gemionic/valentina.gif">

      <h4 style=" text-align: center;">Para ver Medicos a tu Alrededor Habilita el GPS de tu Telefono</h4>

                   
      </ion-slide>
         <ion-slide style="height: 100vh;
           width: auto;">
        <img class="full-image" preload-image ng-src="img/gemionic/valentina.gif" default-image="img/gemionic/valentina.gif" fallback-image="img/gemionic/valentina.gif">

      <h4 style=" text-align: center;">Para ver Medicos a tu Alrededor Habilita el GPS de tu Telefono</h4>

                     <button ng-click='irMapa()' class="button button-full button-calm icon-left ion-ios-location">
                             Finalizar
                     </button>
      </ion-slide>
  </ion-slide-box>

  </ion-content>
</ion-modal-view>